data/original/
data/old/
results/analysis/old/
results/solutions/old/
packages/old/
figures/old/
.DS_Store
**/.DS_Store
notebooks/old/
results/old/
scripts/old/
scripts/outputs/old/
scripts/cmdstan-cache/
cmdstan-cache/
scripts/.RData
scripts/.Rhistory