data/original/
results/analysis/old/
results/solutions/old/
packages/PLOTTINGOLD.m
packages/plottingFunctions20250401.m
packages/plottingFunctions20250406.m
packages/plottingFunctions.m
packages/plotting20250409.m
figures/20250326
figures/20250406
figures/20250409
notebooks/main20250327.nb
notebooks/main20250401.nb
notebooks/main20250406.nb
notebooks/main20250407.nb
notebooks/main20250409.nb
notebooks/mainWithParamElas.nb
notebooks/mainCheckpoint.nb
.DS_Store
**/.DS_Store